.splat/
asm/
bin/
build/
expected/

undefined_funcs_auto.ld
undefined_syms_auto.ld
puzzleleague64.ld
*.d
linker_scripts/*/partial/

__pycache__/
.venv/

.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym

puzzle_collection/

asdf.c
asdf.txt

*.HVQM
*.BIF
*.SBF
*.RDF

*.flash
*.bin
*.log
